.left {
  float: left;
}
.right {
  float: right;
}
.none {
  display: none;
}
.block {
  display: block;
}
.inlineBlock {
  display: inline-block;
}
.inline {
  display: inline;
}
.red {
  color: red;
}
.scrollnone {
  -ms-scroll-chaining: chained;
  -ms-content-zooming: zoom;
  -ms-scroll-rails: none;
  -ms-content-zoom-limit-min: 100%;
  -ms-content-zoom-limit-max: 500%;
  -ms-scroll-snap-type: proximity;
  -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
  -ms-overflow-style: none;
  overflow: auto;
}
.scrollnone::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.scrollnone::-webkit-scrollbar-button,
.scrollnone ::-webkit-scrollbar-track,
.scrollnone ::-webkit-scrollbar-track-piece,
.scrollnone ::-webkit-scrollbar-thumb,
.scrollnone ::-webkit-scrollbar-corner,
.scrollnone ::-webkit-resizer {
  background-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0 auto;
  font-family: "PingFang SC,Microsoft YaHei", "微软雅黑", "黑体", "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  color: #333333;
  list-style: none;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
.clear {
  clear: both;
  overflow: hidden;
}
.clear::after {
  display: table;
  content: '';
  font-size: 0;
}
a {
  text-decoration: none;
}
.navActive {
  background: url("../images/daohanglan.png") no-repeat !important;
  background-size: contain;
}
.navActive a {
  color: #ffffff !important;
}
.secondMenuActive {
  background: #101010;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #c0c0c0;
}
input,
button,
select,
textarea {
  outline: none;
  border: none;
  background-color: transparent;
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  overflow: auto;
  min-width: 1200px;
  min-height: 600px;
  padding: 0;
  margin: 0;
}
.warn_red {
  color: red !important;
  text-align: center !important;
}
.colord52d81 {
  color: #d52d81;
}
/*页面底部*/
.page-body {
  height: 82.4%;
  width: 100%;
  position: relative;
  /*页面右边主体内容*/
}
.page-body .page-bodyRight {
  width: 88%;
  height: 100%;
  background: url("../images/pageBkImgLarg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: auto;
  /*右边内容*/
}
.page-body .page-bodyRight .page-rightContent {
  width: 100%;
  position: absolute;
  right: 0;
  top: 9.4%;
  z-index: 1;
}
.page-body .page-bodyRight .page-rightContent .page-contentBk {
  width: 71.4%;
  height: 100%;
  padding: 15px;
  background: rgba(187, 131, 202, 0.2);
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.2), rgba(187, 131, 202, 0.2));
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.2), rgba(187, 131, 202, 0.2));
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0.2), rgba(187, 131, 202, 0.2));
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0.2), rgba(187, 131, 202, 0.2));
  background-image: linear-gradient(right, rgba(255, 255, 255, 0.2), rgba(187, 131, 202, 0.2));
  /*渐变边框*/
}
.page-body .page-bodyRight .page-rightContent .page-contentBk .lineLearBorder {
  padding: 10px;
  border-style: solid;
  border-width: 10px;
  border-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(187, 131, 202, 0.8)) 30 30;
  border-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(187, 131, 202, 0.8)) 30 30;
  border-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(187, 131, 202, 0.8)) 30 30;
  border-image: linear-gradient(left, rgba(255, 255, 255, 0.8), rgba(187, 131, 202, 0.8)) 30 30;
  border-color: rgba(255, 255, 255, 0.8);
}
/*保存按钮*/
.curr-saveInfo {
  margin: 30px 0;
  text-align: center;
}
.curr-saveInfo span {
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #505050;
  width: 165px;
  height: 22px;
  color: #ffffff;
  letter-spacing: 20px;
  font-size: 14px;
  text-indent: 14px;
  cursor: pointer;
}
/*返回按钮*/
.backBtn {
  width: 50px;
  margin-top: 0;
}
.backBtn span {
  width: 60px;
  text-align: center;
  letter-spacing: 3px;
  text-indent: 3px;
}
/*信息明细表*/
.addInfoBoxDiv {
  text-align: center;
  padding: 20px 0;
}
.addInfoBoxDiv .infoBox {
  width: 321px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  /*上传图片*/
  /*介绍*/
}
.addInfoBoxDiv .infoBox .infoLi {
  margin-bottom: 13%;
  height: 22px;
  line-height: 22px;
}
.addInfoBoxDiv .infoBox .infoLi .infoIcon {
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}
.addInfoBoxDiv .infoBox .infoLi .infoLable {
  letter-spacing: 5px;
  font-weight: 500;
  font-size: 14px;
  position: relative;
}
.addInfoBoxDiv .infoBox .infoLi .infoInput {
  width: 180px;
  vertical-align: middle;
  height: 20px;
  position: relative;
  bottom: 3px;
  text-align: center;
  border: solid 1px #d52d81;
}
.addInfoBoxDiv .infoBox .addFileInfoLi {
  height: auto !important;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv {
  margin: 10px 0 0 0px;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv .infoImgBox {
  width: 100px;
  height: 120px;
  line-height: 120px;
  position: relative;
  margin-right: 10px;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv .infoImgBox img {
  width: 100%;
  vertical-align: middle;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv .infoImgBox:nth-of-type(3) {
  margin-right: 0;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv .infoImgBox .delPrewImg {
  display: none;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv .infoImgBox:hover .delPrewImg {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  color: red;
  right: 30px;
  top: 40px;
  font-size: 40px;
  text-align: center;
  line-height: 30px;
  cursor: default;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv .addFileInfoImgBox {
  width: 100px;
  height: 120px;
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  text-align: center;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv .addFileInfoImgBox .chooseInfoImg {
  width: 100px;
  height: 120px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.addInfoBoxDiv .infoBox .addFileInfoLi .addFileInfoImgDiv .addFileInfoImgBox .addFileInfoImg {
  font-size: 100px;
  line-height: 100px;
  color: rgba(0, 0, 0, 0.5);
}
.addInfoBoxDiv .infoBox .infoTextareaLi {
  height: auto;
}
.addInfoBoxDiv .infoBox .infoTextareaLi label {
  vertical-align: top;
}
.addInfoBoxDiv .infoBox .infoTextareaLi .infoTextareaIcon {
  margin-top: 4px;
}
.addInfoBoxDiv .infoBox .infoTextareaLi .infoTextarea {
  height: 100px;
  margin-top: 8px;
  width: 210px;
  text-align: left;
  padding: 10px;
}
/*单选按钮*/
.radioBox label {
  letter-spacing: 0;
}
.radioBox .curr-radio {
  width: 14px;
  height: 14px;
  box-sizing: border-box;
}
.radioBox input[type="radio"] + label::before {
  content: "\a0";
  /*不换行空格*/
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid #d52d81;
  text-indent: 0.15px;
  line-height: 1;
  box-sizing: border-box;
}
.radioBox input[type="radio"]:checked + label::before {
  background-color: #d52d81;
  background-clip: content-box;
  padding: 2px;
  box-sizing: border-box;
}
.radioBox input[type="radio"] {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
}
/*信息表单右边部分*/
.rightInfo {
  padding-left: 20px;
  border-left: solid 1px #d52d81;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  /* Firefox */
  -webkit-box-sizing: content-box;
  /* Safari */
}
/*信息表单左边边部分*/
.leftInfo {
  border-right: solid 1px #d52d81;
  position: relative;
  left: 1px;
}
/*信息列表*/
.checkInfoBox {
  width: 90%;
  margin-top: 10px;
}
.checkInfoBox .checkInfoLi {
  margin: 0 20px 0 0;
}
.checkInfoBox .checkInfoLi label {
  font-size: 14px;
  margin-right: 10px;
}
.checkInfoBox .checkInfoLi input,
.checkInfoBox .checkInfoLi select {
  border: solid 1px #d52d81;
  width: 133px;
  padding-left: 5px;
}
.checkInfoBox .checkBtnBox .curr-saveInfo {
  margin: 0;
}
.checkInfoBox .checkBtnBox .curr-saveInfo .curr-save {
  width: 100px;
  letter-spacing: 5px;
  text-indent: 5px;
}
.listInfoTable {
  width: 90%;
  margin: 30px auto;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.listInfoTable .listInfoTitleLiBox {
  height: 38px;
  line-height: 38px;
}
.listInfoTable .listInfoTitleLiBox .listInfoTitleUl {
  border-bottom: solid 1px #999999;
}
.listInfoTable .listInfoTitleLiBox .listInfoTitleUl .listInfoTitleLi {
  height: 38px;
}
.listInfoTable .listInfoContentLiBox {
  height: 38px;
}
.listInfoTable .listInfoContentLiBox .listInfoContentUl {
  padding-top: 10px;
}
.listInfoTable .listInfoContentLiBox .listInfoContentUl .listInfoContentli {
  height: 38px;
}
.listInfoTable .listInfoContentLiBox .listInfoContentUl .listInfoContentli:last-of-type span,
.listInfoTable .listInfoContentLiBox .listInfoContentUl .listInfoContentli:nth-last-of-type(2) span {
  cursor: pointer;
  width: 50px;
}
.listInfoTable .listInfoContentLiBox .listInfoContentUl .listInfoContentli:nth-last-of-type(2) span {
  color: #d52d81;
}
.listInfoTable .listInfoContentLiBox .listInfoContentUl .listInfoEdit {
  border-right: solid 1px #999999;
  height: 20px !important;
}
/*设置信息列表背景颜色*/
.listInfoContentLiBox:nth-of-type(3) {
  background: #ffe9e9;
}
.listInfoContentLiBox:nth-of-type(5) {
  background: #e9ffed;
}
.listInfoContentLiBox:nth-of-type(7) {
  background: #fbffe9;
}
.listInfoContentLiBox:nth-of-type(9) {
  background: #e9f7ff;
}
.listInfoContentLiBox:nth-of-type(11) {
  background: #f3e9ff;
}
/*取消修改按钮*/
.goBackBtn {
  margin-left: 20px;
}
/*# sourceMappingURL=common.css.map */