@import "../until/less/until";
*{
  margin:0 auto;
  font-family: "PingFang SC,Microsoft YaHei","微软雅黑","黑体","Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  color:#333333;
  list-style:none;
  padding:0;
  font-size:12px;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
.clear{
  clear:both;
  overflow:hidden;
  &::after{
    display: table;
    content:'';
    font-size:0;
  }
}
a{
  text-decoration:none;
}
.navActive{//主菜单选中
  background:url("../images/daohanglan.png") no-repeat !important;
  background-size:contain;
  a{
    color:#ffffff !important;
  }
}
.secondMenuActive{//二级菜单选中
  background:#101010;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color:#c0c0c0;
}

input,button,textarea{
  outline:none;
  border:none;
  background-color:transparent;
}
html{
  //background:#333333;
  height:100%;
  padding:0;
  margin:0;
}
body{
  height:100%;
  overflow: auto;
  min-width:1200px;
  min-height:600px;
  padding:0;
  margin:0;
}
/*页面底部*/
.page-body{
  height:82.4%;
  width:100%;
  position:relative;

  /*页面右边主体内容*/
  .page-bodyRight{
    width:88%;
    height:100%;
    background:url("../images/pageBkImgLarg.jpg") no-repeat;
    background-size:cover;
    background-position:center;
    position:relative;
    overflow: auto;
    /*右边内容*/
    .page-rightContent{
      width:100%;
      position:absolute;
      right:0;
      top:9.4%;
      z-index:1;
      .page-contentBk{
        width:71.4%;
        height:100%;
        padding:15px;
        background:rgba(187,131,202,0.2);
        background-image:-webkit-linear-gradient(right,rgba(255,255,255,0.2), rgba(187,131,202,0.2));
        background-image:-o-linear-gradient(right,rgba(255,255,255,0.2), rgba(187,131,202,0.2));
        background-image:-moz-linear-gradient(right,rgba(255,255,255,0.2), rgba(187,131,202,0.2));
        background-image:-ms-linear-gradient(right,rgba(255,255,255,0.2), rgba(187,131,202,0.2));
        background-image:linear-gradient(right,rgba(255,255,255,0.2), rgba(187,131,202,0.2));
        /*渐变边框*/
        .lineLearBorder{
          padding:10px;
          border-style:solid;
          border-width:10px;
          border-image: -webkit-linear-gradient( left,rgba(255,255,255,0.8), rgba(187,131,202,0.8)) 30 30;
          border-image: -moz-linear-gradient(left,rgba(255,255,255,0.8), rgba(187,131,202,0.8)) 30 30;
          border-image: -ms-linear-gradient( left,rgba(255,255,255,0.8), rgba(187,131,202,0.8)) 30 30;
          border-image: linear-gradient( left,rgba(255,255,255,0.8), rgba(187,131,202,0.8)) 30 30;
          border-color:rgba(255,255,255,0.8);
        }
      }

    }


  }
}

